<!DOCTYPE html>

<html>
  <head>
    <title>Flask App</title>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>

  <body>
    <header>
      <div class="header">
        <h1 class="logo">Welcome -- Fold viewer</h1>
      </div>
    </header>
    <div class="contain_all">
      <div class="container1">
        {% block content1 %}
        {% endblock %}
      </div>

      <div class="container2">
        {% block content2 %}
        {% endblock %}
      </div>

      <div class="container3">
        {% block content3 %}
        {% endblock %}
      </div>

      <div class="container4">
        {% block msa %}
        {% endblock %}
      </div>

      <div class="container5">
        {% block pdb %}
        {% endblock %}
      </div>
    </div>
    <footer>
      <div class="footer">
        <h1 class="logo2">Thanks for using our platform! - Helen, Peyton, Brad</h1>
      </div>
    </footer>
  </body>
</html>
